* {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("./wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  color: rgb(0, 0, 0);
}

.mainContainer {
  background: transparent;
  border: 3px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 3vh 2vh;
  border-radius: 18px;
}

.inputSearchBar {
  width: 70%;
  font-size: 15pt;
  background: transparent;
  outline: none;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.inputButton {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  width: 10%;
  border-radius: 10px;
  padding: 6px;
  cursor: pointer;
  margin-top: 12pt;
  color: rgb(0, 0, 0);
  font-size: 12pt;
  transition: background-color 0.3s, color 0.3s;
}
.inputButton:hover {
  background-color: rgb(116, 50, 119);
  color: rgb(255, 255, 255);
}
.inputButton:active {
  background-color: rgb(150, 150, 150);
  color: rgb(255, 255, 255);
}
